body {
	padding: 0;
	margin: 0;
    background-color: rgb(31, 37, 39);

}

.container {
    font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}

h1 {
	color: cyan;
	text-align: center;
}

.digit {
	font-size: 150px;
	color: cyan;
}

.txt {
	font-size: 30px;
	color: #fffcd6;
}

#buttons {
	margin-top: 50px;
}

.btn {
	width: 100px;
	padding: 10px 15px;
	margin: 0px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 20px;
	color: white;
}

#start {
	background-color: #009779;
}

#stop {
    background-color: #c91400;
}
#reset {
    background-color: #0e85fc;
}

